@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


:root{
--background-color:#EDF4F5;
--text-color:#38658E;
--title-size:28px;
}

body{
    font-family:'Poppins',sans-serif;
    background-color: var(--background-color);
    height:100%;
}