/*INDEX
* 1. prestyling and variables 9-32.
* 2. main landmark 33 - 40.
* 3. login section 42 - 54.
* 4. direct childs of login section 56 - 68.
* 5. login image <img> 69 - 76.
* 6. login slider and direct childs 78 - 89.
* 7. login form logo 95 - 113.
* 8. login formulary 115 - 127.
* 9. general form styling 130 - 201.
* 10. sign up formulary 203 - 234.
* 11. layout utilities 236 - 248.
* 12. size and display utilities 249 - 263.
* 13. error utilities 266 - 303.
* 14. element styling utilities 305 - 318.
* 15. media query 870px 320 - 345.
* 16. media query 442px 347 - end.  
*/

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant&family=Poppins&display=swap');

/*PRESTYLING AND VARIABLES*/

:root{
    --text-color:#3a3a3a;
    --login-button-color:#048ABF;
    --sign-up-button-color:#F2921D;
    --input-color:#f0f0f0;
    --error-color:#F20505;
}

html,body{
   height:100%;
}

body{
    font-family:'Poppins',sans-serif;
    font-size:16px;
    background-image:url(../../img/login/background.svg);
    background-repeat:no-repeat;
    background-size:cover;
    background-attachment: fixed;
    display:flex;
}

/*MAIN LANDMARK*/

.main{
    margin:auto;
    flex:1;
    min-width:270px;
}

/*LOGIN SECTION*/

.login{
    margin:auto;
    max-width:1240px;
    border-radius:10px;
    padding:20px;
}

.login__heading{
    display:inline-block;
}

/*DIRECT CHILDS OF LOGIN SECTION*/

.login__image{
    flex:1.2;
}

.login__form{
    flex:1;
    overflow:hidden;
    background-color:#fff;
    border-radius:0 12px 12px 0;
}

/*LOGIN IMAGE <IMG>*/

.login__image img{
    object-fit:cover;
    border-radius:10px 0 0 10px;
}

/*LOGIN SLIDER AND DIRECT CHILDS*/

.login__slider{
    transition:transform .5s ease-in-out;
    display:flex;
}

.login__form-login, .login__form-signup{
    min-width:100%;
    flex:1;
}

.login__form-signup{
    padding: 26px 0 15px 0;
}

/*LOGIN FORM LOGO*/

.login__logo{
    display:flex;
    align-items:center;
    font-weight:500;
    padding-top:71px;
}

.login__logo h2{
    font-size:30px;
    margin-left:10px;
    margin-top:3.5px;
}

.login__bug{
    width:46px;
}

/*LOGIN FORMULARY*/

#form{
   margin-top:65px;
}

.login__forgot{
    display:inline-block;
    text-align:right;
    margin-top:10px;
    font-size:14px;
}

/*GENERAL FORM STYLING*/

.login__element{
    margin-bottom:30px;
    position: relative;
}

.login__element:last-child{
    display:flex;
    column-gap:20px;
}

.login__label{
    display:block;
    margin-bottom:12px;
}

.login__input{
    padding:15px;
    padding-left:45px;
    border:none;
    background-color:var(--input-color);
    background-repeat:no-repeat;
    background-position: center left 3%;
    outline:2px solid transparent;
    transition:outline-color .5s;
    border-radius:5px;
}

.user{
    background-image: url(../../img/login/user-solid.svg);
}

.password{
    background-image:url(../../img/login/key-solid.svg);
}

.email{
    background-image:url(../../img/login/email.svg);
}

.rol{
    background-image:url(../../img/login/code.svg);
}

.login__input:focus{
    outline-color:#048ABF;
}

.login__input[type="submit"]{
    background-color:var(--login-button-color);
    color:#fff;
}

.login__input[type="submit"]:hover{
    background-color:#047baa;
}

.login__input[type="submit"]:focus{
    outline:none;
}

.login__signup{
    color:var(--text-color);
    border:2px solid #e1e1e1;
}

.login__signup:hover{
    background-color:var(--sign-up-button-color);
    border-color:var(--sign-up-button-color);
    color:#fff;
}

/*SIGN UP FORMULARY*/

#login__register .error_box{
    top:80px;
}

.login__form-signup .login__input{
    padding:10px;
    padding-left:45px;
}

.login__form-signup .login__element{
    margin-bottom:15px;
}

.login__form-signup .login__logo {
    margin-top:40px;
}

#cancel{
    padding:13px 15px;
}

.btn-cancel{
    background-color:transparent;
    border:2px solid #e1e1e1;
}

.btn-cancel:hover{
    background-color:#e1e1e1;
}

/*LAYOUT UTILITIES*/

.flex{
    display:flex;
    justify-content:center;
}

.container{
    max-width:440px;
    margin:auto;
    padding:0 20px;
}

/*SIZE AND DISPLAY UTILITIES*/

.wh-100{
    width:100%;
    height:100%;
}

.w-100{
    width:100%;
}

.d-none{
    display:none;
}

/*ERROR UTILITIES*/

.error input{
    outline-color: var(--error-color);
}

.error .error_box{
    display:block;
}

.error_box{
    display:none;
    position:absolute;
    left:0;
    top:95px;
    background-color:#fff;
    border-radius:12px;
    z-index:9;
    font-size:14px;
    padding:10px;
    box-shadow:0 0 10px #afafaf;
}

.error__icon{
    width:35px;
}

.login__failed{
    position:absolute;
    top:45%;
    transform:translateY(-50%);
    margin-left:10px;
}

#failed-login{
    color:var(--error-color);
}

/*ELEMENT STYLING UTILITIES*/

.btn{
    flex:1;
    border-radius:5px;
    font-weight:600;
    cursor:pointer;
    margin-top:15px;
    padding:13px 15px;
    text-align: center;
    font-size:18px;
    transition:background-color .3s, border-color .2s;
}

/*MEDIA QUERY 870px*/

@media screen and (max-width:870px){
    .login{
        height:auto;
    }

    .container{
        max-width:664px;
        margin:auto;
    }

    .login__image{
        display:none;
    }

    .login__form{
        transition:height .5s;
        border-radius:12px;
    }
    
    #form{
        margin-top:50px;
    }
}

/*MEDIA QUERY 442px*/

@media screen and (max-width:442px){
    .login__logo h2{
        font-size:20px;
    }
    .btn{
        font-size:16px;
    }
    .login__input{
        font-size:14px;
    }
    .login{
        padding:5px;
    }
}
